{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <!-- Call to Action -->
  <div class="h-100 w-100 shaded">
   <div class="container h-100">
      <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
          <h1 class="display-4">
            Pet Sitter Sibiu
          </h1>
          <h4 class="">
            For all your pet sitting needs
          </h4>
          <div class="my-5">
            <h4>
              <a href="" class="btn btn-lg py-3">See our Services</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About Pet Sitter Sibiu -->
  <div class="w-100 cultured-background Eerie_Black py-5">
   <div class="container">
    <div class="row">
    <img src="{{ MEDIA_URL }}Dog No Background 2.png" alt="About-Dog-Image" class="img-fluid col-12 col-md-4 my-auto">
      <div class="col-12 col-md-8 my-auto">
        <h1 class="display-4">About Pet Sitter Sibiu</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam temporibus quia voluptatem doloremque, aperiam quam cum natus quisquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam temporibus quia voluptatem doloremque, aperiam quam cum natus quisquam! Voluptas assumenda laudantium, voluptatibus at soluta quae. Cum vitae dolore doloremque accusamus?</p>
      </div>
    </div>
   </div>
  </div>

  <!-- Services Carousel -->
  <div class="w-100 cultured-background Eerie_Black py-5">
   <div class="container">
    <div class="row">
      <h1 class="mx-auto display-4">What We Offer</h1>
      <div class="my-auto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam temporibus quia voluptatem doloremque, aperiam quam cum natus quisquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam temporibus quia voluptatem doloremque, aperiam quam cum natus quisquam! Voluptas assumenda laudantium, voluptatibus at soluta quae. Cum vitae dolore doloremque accusamus?</p>
      </div>
      <h4 class="mx-auto">
        <a href="" class="btn btn-lg rounded-25 py-3">View all our offers</a>
      </h4>
    </div>
   </div>
  </div>

  <!-- Testimonials -->
  <div class="w-100 cultured-background Eerie_Black py-5">
   <div class="container">
    <div class="row">
      <h1 class="text-center col-12 display-4">Testimonials</h1>
      <h4 class="text-center col-12">See what other people are saying</h4>
      <div class="my-auto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam temporibus quia voluptatem doloremque, aperiam quam cum natus quisquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam temporibus quia voluptatem doloremque, aperiam quam cum natus quisquam! Voluptas assumenda laudantium, voluptatibus at soluta quae. Cum vitae dolore doloremque accusamus?</p>
      </div>
    </div>
   </div>
  </div>

  <!-- Contact Section -->
  <div class="w-100 Old_Burgundy-linear-background Cultured py-5">
   <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 border-right border-white border-thick rounded">
        <h1 class="display-4">Get in touch</h1>
        <hr class="hr-Desert_Sand">
        <h4>Name</h4>
        <p>Text Example</p>
        <h4>Email</h4>
        <p>Text Example</p>
      </div>
      <div class="col-12 col-md-6 p-0">
        <h4>Message</h4>
        <a href="" class="btn btn-block p-0">Send Message</a>
      </div>
    </div>
   </div>
  </div>


{% endblock %}