{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'collage/css/collage.css' %}">
{% endblock %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="w-100 cultured-background Eerie_Black py-5">
  <div class="container">
    <div class="row">
    <img src="{{ MEDIA_URL }}Dog No Background 2.png" alt="About-Dog-Image" class="img-fluid col-12 col-md-4 my-auto">
      <div class="col-12 col-md-8 my-auto">
        <h1 class="display-4">About Pet Sitter Sibiu</h1>
        <p>Sunt asistenta veterinara de profesie si ofer servicii de ingrijire pisici (hranire &curatare litiera), caini (hranire & plimbare), hamsteri, papagali, pesti, procusori de guineea etc..</p>
        <p>Ingrijirea animalelor de companie la domiciliul lor in perioada de concediu sau oricand aveti nevoie prezinta foarte multe avantaje:</p>
        <ul>
          <li>Prevenirea stresului pentru animale cauzat de plasarea intr-un mediu nou cat sunteti plecati</li>
          <li>Traumele survenite in urma călătoriei cu masina/avionul etc.</li>
          <li>Contactarea de boli și paraziți de la expunerea sa impreuna cu alte animale</li>
          <li>Menținerea rutinei zilnice</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="grid" class="grid shaded">
{% for photo in page.object_list %}
  <div class="grid-item">
    <img class="img-fluid m-2 p-2" src="{{ photo.image.url }}" alt="{{ photo.photo_name }}">
  </div>
{% endfor %}
</div>
<div id="loading-overlay">
  <div class="text-light logo-font loading-spinner">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> <p> Photos Loading, Please Wait :) </p> <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
</div>
<div class="d-flex justify-content-between shaded page_navigation">
{% if page.has_previous %}
<a class="btn btn-lg py-3 page_navigation" href="{% url 'view_collage' %}?page={{ page.previous_page_number }}">Previous Page</a>
{% endif %}
<h2 class="page_navigation">Page {{ page.number }}</h2>
{% if page.has_next %}
<a class="btn btn-lg py-3 page_navigation" href="{% url 'view_collage' %}?page={{ page.next_page_number }}">Next Page</a>
{% endif %}
</div>
{% endblock %}

{% block postloadjs %}
<script>
$( document ).ready(function() {
  $('#grid').hide();
  $('.page_navigation').hide();
});
$( window ).on( "load", function() {
  $('#loading-overlay').fadeToggle(1000, "swing");
  $('#grid').fadeToggle(1000, "swing");
  $('.page_navigation').fadeToggle(1000, "swing");
  $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});
})
</script>
{% endblock %}